Repository microsoft/MLOS, pull requests merged in 2024-05, with the labels that each got.

#726 Implement multi-objective optimization in mlos_bench base classes
  mlos_bench/mlos_bench/optimizers/base_optimizer.py
  mlos_bench/mlos_bench/optimizers/grid_search_optimizer.py
  mlos_bench/mlos_bench/optimizers/mlos_core_optimizer.py
  mlos_bench/mlos_bench/optimizers/mock_optimizer.py
  mlos_bench/mlos_bench/optimizers/track_best_optimizer.py
  mlos_bench/mlos_bench/run.py
  mlos_bench/mlos_bench/schedulers/base_scheduler.py
  mlos_bench/mlos_bench/storage/base_storage.py
  mlos_bench/mlos_bench/storage/sql/experiment.py
  mlos_bench/mlos_bench/storage/sql/experiment_data.py
  mlos_bench/mlos_bench/storage/sql/storage.py
  mlos_bench/mlos_bench/storage/sql/trial.py
  mlos_bench/mlos_bench/tests/launcher_in_process_test.py
  mlos_bench/mlos_bench/tests/launcher_run_test.py
  mlos_bench/mlos_bench/tests/optimizers/grid_search_optimizer_test.py
  mlos_bench/mlos_bench/tests/optimizers/llamatune_opt_test.py
  mlos_bench/mlos_bench/tests/optimizers/mock_opt_test.py
  mlos_bench/mlos_bench/tests/optimizers/opt_bulk_register_test.py
  mlos_bench/mlos_bench/tests/optimizers/toy_optimization_loop_test.py
  mlos_bench/mlos_bench/tests/storage/exp_data_test.py
  mlos_bench/mlos_bench/tests/storage/exp_load_test.py
  mlos_bench/mlos_bench/tests/storage/sql/fixtures.py
  mlos_bench/mlos_bench/tests/storage/tunable_config_data_test.py
Labels: ready for review, mlos-bench

#733 CI fixups: changes in package naming via upstream libs (dash to underscore)
  Makefile
Labels: ready for review, ci

#736 Fix docstrings for mlos_core SMAC and FLAML optimizers
  mlos_core/mlos_core/optimizers/bayesian_optimizers/smac_optimizer.py
  mlos_core/mlos_core/optimizers/flaml_optimizer.py
Labels: documentation, ready for review, low priority, mlos-core

#735 Issue a warning on non-null optimization context
  mlos_core/mlos_core/optimizers/bayesian_optimizers/smac_optimizer.py
  mlos_core/mlos_core/optimizers/flaml_optimizer.py
  mlos_core/mlos_core/optimizers/random_optimizer.py
  mlos_core/mlos_core/tests/optimizers/bayesian_optimizers_test.py
Labels: ready for review, mlos-core

#737 make optimizer a fixture for 1-hot encoding/decoding tests
  mlos_core/mlos_core/tests/optimizers/one_hot_test.py
Labels: ready for review, tests, mlos-core
