Repository microsoft/MLOS, pull requests merged in 2024-08, with the labels that each got.

#828 Version identifier packaging tweaks
  mlos_bench/mlos_bench/__init__.py
  mlos_core/mlos_core/__init__.py
  mlos_viz/mlos_viz/__init__.py
Labels: low priority

#802 Migrate to ConfigSpace 1.*
  conda-envs/mlos-windows.yml
  mlos_bench/mlos_bench/optimizers/convert_configspace.py
  mlos_bench/mlos_bench/tests/tunables/tunable_to_configspace_test.py
  mlos_core/mlos_core/optimizers/bayesian_optimizers/smac_optimizer.py
  mlos_core/mlos_core/optimizers/flaml_optimizer.py
  mlos_core/mlos_core/spaces/adapters/llamatune.py
  mlos_core/mlos_core/tests/optimizers/conftest.py
  mlos_core/mlos_core/tests/optimizers/optimizer_multiobj_test.py
  mlos_core/mlos_core/tests/optimizers/optimizer_test.py
  mlos_core/mlos_core/tests/spaces/adapters/identity_adapter_test.py
  mlos_core/mlos_core/tests/spaces/adapters/llamatune_test.py
  mlos_core/mlos_core/tests/spaces/adapters/space_adapter_factory_test.py
  mlos_core/mlos_core/tests/spaces/spaces_test.py
  mlos_core/mlos_core/util.py
  mlos_core/notebooks/BayesianOptimization.ipynb
  mlos_core/setup.py
  pyproject.toml
  setup.cfg
Labels: dependencies, ready for review, mlos-core, mlos-bench

#840 Temporarily avoid new version of FLAML
  Makefile
  mlos_core/setup.py
Labels: dependencies, ready for review, ci

#835 Use number of bins instead of quantization interval in mlos_bench tunables
  mlos_bench/mlos_bench/config/schemas/tunables/tunable-params-schema.json
  mlos_bench/mlos_bench/optimizers/convert_configspace.py
  mlos_bench/mlos_bench/optimizers/grid_search_optimizer.py
  mlos_bench/mlos_bench/tests/config/schemas/tunable-params/test-cases/bad/invalid/tunable-params-int-bad-float-quantization.jsonc
  mlos_bench/mlos_bench/tests/config/schemas/tunable-params/test-cases/good/full/full-tunable-params-test.jsonc
  mlos_bench/mlos_bench/tests/optimizers/grid_search_optimizer_test.py
  mlos_bench/mlos_bench/tests/tunable_groups_fixtures.py
  mlos_bench/mlos_bench/tests/tunables/test_tunables_size_props.py
  mlos_bench/mlos_bench/tests/tunables/tunable_definition_test.py
  mlos_bench/mlos_bench/tests/tunables/tunable_to_configspace_quant_test.py
  mlos_bench/mlos_bench/tests/tunables/tunable_to_configspace_test.py
  mlos_bench/mlos_bench/tunables/tunable.py
Labels: ready for review, mlos-bench

#844 Rename `quantization` -> `quantization_bins`
  mlos_bench/mlos_bench/config/schemas/tunables/tunable-params-schema.json
  mlos_bench/mlos_bench/optimizers/convert_configspace.py
  mlos_bench/mlos_bench/tests/config/schemas/tunable-params/test-cases/bad/invalid/tunable-params-float-bad-quantization-type.jsonc
  mlos_bench/mlos_bench/tests/config/schemas/tunable-params/test-cases/bad/invalid/tunable-params-int-bad-float-quantization.jsonc
  mlos_bench/mlos_bench/tests/config/schemas/tunable-params/test-cases/bad/invalid/tunable-params-int-bad-int-quantization.jsonc
  mlos_bench/mlos_bench/tests/config/schemas/tunable-params/test-cases/bad/invalid/tunable-params-int-wrong-quantization-type.jsonc
  mlos_bench/mlos_bench/tests/config/schemas/tunable-params/test-cases/good/full/full-tunable-params-test.jsonc
  mlos_bench/mlos_bench/tests/optimizers/grid_search_optimizer_test.py
  mlos_bench/mlos_bench/tests/tunable_groups_fixtures.py
  mlos_bench/mlos_bench/tests/tunables/test_tunables_size_props.py
  mlos_bench/mlos_bench/tests/tunables/tunable_definition_test.py
  mlos_bench/mlos_bench/tunables/tunable.py
Labels: ready for review, mlos-bench
