Repository microsoft/MLOS, pull requests merged in 2024-07, with the labels that each got.

#769 Better naming and values for MockEnv parameters + unit tests
  mlos_bench/mlos_bench/DEVNOTES.md
  mlos_bench/mlos_bench/config/environments/mock/mock_env.jsonc
  mlos_bench/mlos_bench/config/schemas/environments/mock-env-subschema.json
  mlos_bench/mlos_bench/environments/mock_env.py
  mlos_bench/mlos_bench/optimizers/mock_optimizer.py
  mlos_bench/mlos_bench/tests/config/cli/mock-bench.jsonc
  mlos_bench/mlos_bench/tests/config/schemas/environments/test-cases/bad/invalid/mock_env-bad-metric-type.jsonc
  mlos_bench/mlos_bench/tests/config/schemas/environments/test-cases/bad/invalid/mock_env-const-args-list-obj.jsonc
  mlos_bench/mlos_bench/tests/config/schemas/environments/test-cases/bad/invalid/mock_env-const-args-nested-list.jsonc
  mlos_bench/mlos_bench/tests/config/schemas/environments/test-cases/bad/invalid/mock_env-missing-metric.jsonc
  mlos_bench/mlos_bench/tests/config/schemas/environments/test-cases/bad/invalid/mock_env-missing-name.jsonc
  mlos_bench/mlos_bench/tests/config/schemas/environments/test-cases/good/full/mock_env-full.jsonc
  mlos_bench/mlos_bench/tests/config/schemas/environments/test-cases/good/partial/mock_env-const-args.jsonc
  mlos_bench/mlos_bench/tests/config/tunable-values/tunable-values-example.jsonc
  mlos_bench/mlos_bench/tests/conftest.py
  mlos_bench/mlos_bench/tests/environments/composite_env_test.py
  mlos_bench/mlos_bench/tests/launcher_in_process_test.py
  mlos_bench/mlos_bench/tests/launcher_run_test.py
Labels: ready for review, mlos-bench

#759 Make sure One Shot Optimizer always returns the same suggestion
  mlos_bench/mlos_bench/optimizers/one_shot_optimizer.py
Labels: ready for review, mlos-bench

#782 bugfix: is_defaults() is a method, not property
  mlos_bench/mlos_bench/schedulers/base_scheduler.py
Labels: bug, ready for review, mlos-bench

#775 bugfix: MySQL can round microseconds into the future causing scheduler to skip trials
  mlos_bench/mlos_bench/storage/sql/experiment.py
Labels: bug, ready for review, mlos-bench

#797 Convert .pylintrc file to pyproject.toml
  .pylintrc
  Makefile
  pyproject.toml
Labels: low priority

#809 Fix mypy 1.11 warnings
  mlos_core/mlos_core/tests/optimizers/optimizer_test.py
  mlos_core/mlos_core/tests/spaces/adapters/space_adapter_factory_test.py
Labels: ready for review, tests, mlos-core, dev-env

#789 Fix the coercion of scores to floats in the optimizer
  mlos_bench/mlos_bench/optimizers/mlos_core_optimizer.py
  mlos_bench/mlos_bench/tests/optimizers/mlos_core_opt_df_test.py
Labels: bug, ready for review, mlos-bench

#722 Fixups and testing for cli config file parsing
  mlos_bench/mlos_bench/config/schedulers/sync_scheduler.jsonc
  mlos_bench/mlos_bench/launcher.py
  mlos_bench/mlos_bench/optimizers/base_optimizer.py
  mlos_bench/mlos_bench/schedulers/base_scheduler.py
  mlos_bench/mlos_bench/tests/config/cli/test-cli-config.jsonc
  mlos_bench/mlos_bench/tests/launcher_parse_args_test.py
Labels: WIP

#779 Use token-based authentication instead of the access key in the AzureFileShareService
  mlos_bench/mlos_bench/services/remote/azure/azure_fileshare.py
  mlos_bench/mlos_bench/tests/services/remote/azure/azure_fileshare_test.py
  mlos_bench/mlos_bench/tests/services/remote/azure/conftest.py
Labels: ready for review, mlos-bench
