Repository microsoft/MLOS, pull requests merged in 2024-11, with the labels that each got.

#878 A test configuration for the environment based on local shell scripts
  mlos_bench/mlos_bench/tests/config/cli/test-cli-local-env-bench.jsonc
  mlos_bench/mlos_bench/tests/config/cli/test-cli-local-env-opt.jsonc
  mlos_bench/mlos_bench/tests/config/environments/local/scripts/bench_run.py
  mlos_bench/mlos_bench/tests/config/environments/local/scripts/bench_setup.py
  mlos_bench/mlos_bench/tests/config/environments/local/test_local-tunables.jsonc
  mlos_bench/mlos_bench/tests/config/environments/local/test_local_env.jsonc
  mlos_bench/mlos_bench/tests/config/experiments/experiment_test_local.jsonc
  mlos_bench/mlos_bench/tests/config/tunable-values/tunable-values-local.jsonc
  mlos_bench/mlos_bench/tests/launcher_in_process_test.py
Labels: ready for review, tests, mlos-bench

#855 CyclicConfigSuggestor
  mlos_bench/mlos_bench/config/optimizers/manual_opt.jsonc
  mlos_bench/mlos_bench/config/schemas/optimizers/optimizer-schema.json
  mlos_bench/mlos_bench/optimizers/__init__.py
  mlos_bench/mlos_bench/optimizers/manual_optimizer.py
  mlos_bench/mlos_bench/optimizers/one_shot_optimizer.py
  mlos_bench/mlos_bench/tests/config/schemas/optimizers/test-cases/bad/invalid/manual_opt_schema_bad_max_cycles.jsonc
  mlos_bench/mlos_bench/tests/config/schemas/optimizers/test-cases/bad/invalid/manual_opt_schema_empty_config.jsonc
  mlos_bench/mlos_bench/tests/config/schemas/optimizers/test-cases/bad/unhandled/manual_opt_extra.jsonc
  mlos_bench/mlos_bench/tests/config/schemas/optimizers/test-cases/good/full/manual_opt_full.jsonc
  mlos_bench/mlos_bench/tests/config/schemas/optimizers/test-cases/good/partial/manual_opt_no_schema.jsonc
  mlos_bench/mlos_bench/tests/config/schemas/optimizers/test-cases/good/partial/manual_opt_schema_partial_config.jsonc
  mlos_bench/mlos_bench/tests/optimizers/conftest.py
  mlos_bench/mlos_bench/tests/optimizers/manual_opt_test.py
Labels: enhancement, ready for review, mlos-bench

#886 Pylint fixups
  mlos_bench/mlos_bench/optimizers/base_optimizer.py
  mlos_bench/mlos_bench/optimizers/mlos_core_optimizer.py
  mlos_bench/mlos_bench/services/remote/azure/azure_network_services.py
  mlos_bench/mlos_bench/services/remote/azure/azure_vm_services.py
  mlos_bench/mlos_bench/services/remote/ssh/ssh_service.py
  mlos_bench/mlos_bench/storage/util.py
  mlos_bench/mlos_bench/tests/dict_templater_test.py
  pyproject.toml
Labels: ready for review, low priority

#852 Rewrite for named tuples
  .cspell.json
  mlos_bench/mlos_bench/optimizers/mlos_core_optimizer.py
  mlos_bench/mlos_bench/tests/optimizers/toy_optimization_loop_test.py
  mlos_core/mlos_core/__init__.py
  mlos_core/mlos_core/data_classes.py
  mlos_core/mlos_core/optimizers/bayesian_optimizers/bayesian_optimizer.py
  mlos_core/mlos_core/optimizers/bayesian_optimizers/smac_optimizer.py
  mlos_core/mlos_core/optimizers/flaml_optimizer.py
  mlos_core/mlos_core/optimizers/optimizer.py
  mlos_core/mlos_core/optimizers/random_optimizer.py
  mlos_core/mlos_core/spaces/adapters/adapter.py
  mlos_core/mlos_core/spaces/adapters/identity_adapter.py
  mlos_core/mlos_core/spaces/adapters/llamatune.py
  mlos_core/mlos_core/tests/optimizers/bayesian_optimizers_test.py
  mlos_core/mlos_core/tests/optimizers/data_class_test.py
  mlos_core/mlos_core/tests/optimizers/optimizer_multiobj_test.py
  mlos_core/mlos_core/tests/optimizers/optimizer_test.py
  mlos_core/mlos_core/tests/spaces/adapters/identity_adapter_test.py
  mlos_core/mlos_core/tests/spaces/adapters/llamatune_test.py
  mlos_core/mlos_core/util.py
  mlos_core/notebooks/BayesianOptimization.ipynb
Labels: refactor
