Repository microsoft/MLOS, pull requests merged in 2024-02, with the labels that each got.

#660 Omit tests from docs
  Makefile
Labels: documentation, ready for review, low priority

#646 Add weights for tunables with categorical or special numerical values
  mlos_bench/mlos_bench/config/schemas/tunables/tunable-params-schema.json
  mlos_bench/mlos_bench/optimizers/convert_configspace.py
  mlos_bench/mlos_bench/tests/config/schemas/tunable-params/test-cases/good/full/full-tunable-params-test.jsonc
  mlos_bench/mlos_bench/tests/tunable_groups_fixtures.py
  mlos_bench/mlos_bench/tests/tunables/tunable_definition_test.py
  mlos_bench/mlos_bench/tests/tunables/tunable_to_configspace_test.py
  mlos_bench/mlos_bench/tunables/tunable.py
Labels: enhancement, ready for review, mlos-bench

#667 Fix mixed numeric datatypes for optimizers
  mlos_bench/mlos_bench/storage/util.py
  mlos_core/mlos_core/optimizers/bayesian_optimizers/smac_optimizer.py
  mlos_core/mlos_core/optimizers/flaml_optimizer.py
  mlos_core/mlos_core/spaces/adapters/llamatune.py
  mlos_core/mlos_core/tests/__init__.py
  mlos_core/mlos_core/tests/optimizers/optimizer_test.py
Labels: bug, mlos-core

#663 Add support for ConfigSpace distributions
  mlos_bench/mlos_bench/config/schemas/tunables/tunable-params-schema.json
  mlos_bench/mlos_bench/optimizers/convert_configspace.py
  mlos_bench/mlos_bench/tests/config/schemas/tunable-params/test-cases/good/full/full-tunable-params-test.jsonc
  mlos_bench/mlos_bench/tests/tunables/tunable_distributions_test.py
  mlos_bench/mlos_bench/tests/tunables/tunable_to_configspace_distr_test.py
  mlos_bench/mlos_bench/tunables/tunable.py
Labels: enhancement, ready for review, mlos-bench

#672 Bump version: 0.4.2 → 0.5.0
  .bumpversion.cfg
  doc/source/conf.py
  mlos_bench/_version.py
  mlos_core/_version.py
Labels: ready for review

#670 Add tests for mixed numerical type conversions of tunable config data from storage
  doc/nginx-docker.sh
  mlos_bench/mlos_bench/tests/conftest.py
  mlos_bench/mlos_bench/tests/storage/conftest.py
  mlos_bench/mlos_bench/tests/storage/sql/fixtures.py
  mlos_bench/mlos_bench/tests/storage/tunable_config_data_test.py
  mlos_bench/mlos_bench/tests/tunable_groups_fixtures.py
  mlos_core/mlos_core/tests/optimizers/optimizer_test.py
Labels: ready for review, tests

#673 Fixtures context fixup
  mlos_bench/mlos_bench/storage/base_storage.py
  mlos_bench/mlos_bench/tests/storage/exp_context_test.py
  mlos_bench/mlos_bench/tests/storage/sql/fixtures.py
Labels: ready for review, tests

#674 Address upcoming changes to default GITHUB_TOKEN permissions
  .github/workflows/devcontainer.yml
  .github/workflows/linux.yml
  .github/workflows/markdown-link-check.yml
  .github/workflows/windows.yml
Labels: ready for review, github_actions, ci

#671 Return status and actual timestamp from all environments
  mlos_bench/mlos_bench/environments/base_environment.py
  mlos_bench/mlos_bench/environments/composite_env.py
  mlos_bench/mlos_bench/environments/local/local_env.py
  mlos_bench/mlos_bench/environments/local/local_fileshare_env.py
  mlos_bench/mlos_bench/environments/mock_env.py
  mlos_bench/mlos_bench/environments/remote/remote_env.py
  mlos_bench/mlos_bench/run.py
  mlos_bench/mlos_bench/storage/base_storage.py
  mlos_bench/mlos_bench/storage/sql/trial.py
  mlos_bench/mlos_bench/tests/environments/__init__.py
  mlos_bench/mlos_bench/tests/environments/local/local_fileshare_env_test.py
  mlos_bench/mlos_bench/tests/environments/mock_env_test.py
  mlos_bench/mlos_bench/tests/optimizers/toy_optimization_loop_test.py
  mlos_bench/mlos_bench/tests/storage/sql/fixtures.py
  mlos_bench/mlos_bench/tests/storage/trial_telemetry_test.py
Labels: ready for review, mlos-bench

#680 Handle some mypy errors and increase test coverage
  mlos_core/mlos_core/optimizers/optimizer.py
  mlos_core/mlos_core/tests/optimizers/one_hot_test.py
Labels: ready for review

#681 New pytest version dependency tweaks
  conda-envs/mlos-3.10.yml
  conda-envs/mlos-3.11.yml
  conda-envs/mlos-3.8.yml
  conda-envs/mlos-3.9.yml
  conda-envs/mlos-windows.yml
  conda-envs/mlos.yml
  mlos_bench/mlos_bench/tests/event_loop_context_test.py
  mlos_bench/mlos_bench/tests/services/remote/ssh/test_ssh_service.py
  mlos_bench/setup.py
  mlos_core/mlos_core/tests/spaces/__init__.py
Labels: ready for review

#682 Address pandas warnings about future pyarrow requirements
  conda-envs/mlos-3.10.yml
  conda-envs/mlos-3.11.yml
  conda-envs/mlos-3.8.yml
  conda-envs/mlos-3.9.yml
  conda-envs/mlos-windows.yml
  conda-envs/mlos.yml
Labels: ready for review

#683 Address pandas timestamp warnings
  mlos_bench/mlos_bench/environments/local/local_env.py
  mlos_bench/mlos_bench/tests/environments/local/composite_local_env_test.py
  mlos_bench/mlos_bench/tests/environments/local/local_env_telemetry_test.py
Labels: ready for review

#676 Scheduling queue: Allow submitting trials with future timestamps and use watermarks to retrieve configs and results
  mlos_bench/mlos_bench/environments/status.py
  mlos_bench/mlos_bench/run.py
  mlos_bench/mlos_bench/storage/base_storage.py
  mlos_bench/mlos_bench/storage/sql/experiment.py
  mlos_bench/mlos_bench/storage/sql/schema.py
  mlos_bench/mlos_bench/storage/sql/trial.py
  mlos_bench/mlos_bench/tests/storage/exp_load_test.py
  mlos_bench/mlos_bench/tests/storage/sql/fixtures.py
  mlos_bench/mlos_bench/tests/storage/trial_config_test.py
  mlos_bench/mlos_bench/tests/storage/trial_schedule_test.py
Labels: enhancement, ready for review, mlos-bench

#678 use named constants to define columns containing IDs and generic values
  mlos_bench/mlos_bench/storage/sql/schema.py
Labels: bug, ready for review, mlos-bench

#684 Initial work to separate the scheduler and the optimizer (no async yet)
  mlos_bench/mlos_bench/launcher.py
  mlos_bench/mlos_bench/optimizers/base_optimizer.py
  mlos_bench/mlos_bench/optimizers/mlos_core_optimizer.py
  mlos_bench/mlos_bench/optimizers/mock_optimizer.py
  mlos_bench/mlos_bench/run.py
  mlos_bench/mlos_bench/storage/base_storage.py
  mlos_bench/mlos_bench/storage/sql/experiment.py
  mlos_bench/mlos_bench/tests/launcher_in_process_test.py
  mlos_bench/mlos_bench/tests/launcher_run_test.py
  mlos_bench/mlos_bench/tests/storage/exp_load_test.py
  mlos_bench/mlos_bench/tests/storage/trial_schedule_test.py
Labels: enhancement, ready for review, mlos-bench
